body {
  background-image: url('/static/img/chinese-hills.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 20px;
  margin: 20px;
  width: 250px;
  transition: all 0.3s ease-out;
}
.row {
  display:grid;
  justify-content: center;
  align-items: center;
  
}
.green {
  border-left: 3px solid #3bb54a;
}
.image {
  float: right;
  max-width: 64px;
  max-height: 64px;
}
.grid{
  float: left;
}

footer {
  position: fixed;
  width: 100%;
  height: 12%;
  left: 0;
  bottom: 0;
  background-color:  #04AA6D;
}

.footer-links li {
  display: inline;
}
.card li {
  display:grid;
  list-style-type: upper-alpha;
}

.text-center {
  text-align: center;
}


.bar ul {
  width: 100;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.bar li {
  float: left;
  list-style-type: none;
  margin: 100;
  padding: 100;
}
.esquerda li {
  float: left;
  list-style-type: none;
  margin: 100;
  padding: 100;
}
.direita li {
  float: right;
  list-style-type: none;
}

.bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bar li a:hover:not(.active) {
  background-color:  #04AA6D;
}

.active {
  background-color: #04AA6D;
}

.icon {
  float: left;
  max-width: 40px;
  max-height: 40px;
}

.para {
  background-color: #333;
  color:bisque;
}