<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <h1>Artigo Numero: {{.ID}}</h1>
  <h1>{{.Titulo}}</h1>
  <h3>dia: {{.Criado}}</h3>
  <p>{{.Conteudo}}</p>
  
  <form method="POST" action="/artigos/{{.ID}}" >
  <button onclick="return confirm('Deseja Apagar O Arquivo?');" 
id="btnDelete"><img class="icon" src="/static/img/remove.png"></button>
  </form>
  <form method="POST" action="/artigos/{{.ID}}" >
    <button onclick="return confirm('Deseja Apagar O Arquivo?');" 
  id="btnDelete"><img class="icon" src="/static/img/atualizar.png"></button>
    </form>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}