<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <h1 class="para">Artigo Numero: {{.ID}}</h1>
  <h1 class="para">{{.Titulo}}</h1>
  <h3 class="para">dia criado: {{.Criado}}</h3>
  <h3 class="para">Ultima Atualização: {{.UpdatedAt}}</h3>
  <h3><p class="para">{{.Conteudo}}</p></h3>
  <ul class="bar">
    <li class="esquerda">
  <form method="POST" action="/artigos/{{.ID}}" >
  <button onclick="return confirm('Deseja Apagar O Arquivo?');" 
id="btnDelete"><img class="icon" src="/static/img/remove.png"></button>
  </form>
    </li>
    <li><hr width="30" color="none"></li>
    <li class="direita">
    <form method="POST" action="atualizar/form/{{.ID}}" >
    <button id="btnDelete"><img class="icon" src="/static/img/atualizar.png"></button>
    </form>
  </li>
  </ul>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}