<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <h1>Hello Gin!</h1>
  <form method="POST" action="/artigos/atualizar/{{.Artigo.ID}}">
    <label for="titulo">Novo Titulo: </label>
    <input name="titulo" id="titulo" type="teIxt" value="{{.Artigo.Titulo}}"/></br>
    <label for="conteudo">Novo Conteudo: </label>
    <input name="conteudo" id="conteudo" type="text" value="{{.Artigo.Conteudo}}"/><br>
    <button onclick="return confirm('Artigo Atualizado!!!!');"
    ><h4>ATUALIZAR</h4></button>
</form>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}