<!--header.html-->

<!doctype html>
<html>

  <head>
    <!--Use the `title` variable to set the title of the page-->
    <title>{{ .Titulo }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!--Use bootstrap to make the application look nice-->
    
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body class="container" >
    <!--Embed the menu.html template at this location-->
    {{ template "menu.html" . }}